<div
    (click)="seeDetails()"
    [ngClass]="{ pointer: !main }"
    class="card py-3 px-4 w-100 h-100 hover"
>
    <div *ngIf="main" class="d-flex flex-row align-items-center">
        <img class="trophy me-1" src="assets/trophy_icon.png" />
        <p style="font-size: 20px">
            GET
            <span
                ><strong>{{ this.quest.reward }}</strong></span
            >
        </p>
        <img class="star ms-1" src="assets/star_icon.png" />
    </div>

    <div>
        <div
            class="d-flex flex-row align-items-center justify-content-between mb-2 mt-2 pe-1"
        >
            <h4>{{ this.quest.title }}:</h4>
            <p>
                {{ this.quest.datePosted | dateAgo }}
                <span
                    ><img
                        src="assets/clock_icon.png"
                        style="width: 20px; height: 20px"
                /></span>
            </p>
        </div>

        <div>
            <div class="mb-2 d-flex flex-row justify-content-between">
                <div>
                    <p>
                        Proposed by:
                        <span class="text-primary"
                            ><i>{{ this.quest.ownerUsername }}</i></span
                        >
                    </p>
                </div>
                <div>
                    <button
                        *ngIf="main"
                        class="btn btn-primary"
                        routerLink="{{ this.quest.id }}/{{ this.quest.slug }}"
                    >
                        See Details
                    </button>
                </div>
            </div>

            <div>
                <p>
                    {{ this.quest.description }}
                </p>
            </div>
        </div>
    </div>
</div>
