* {
    margin: 0;
}

.trophy {
    height: 30px;
    width: 30px;
}

.star {
    height: 20px;
    width: 20px;
}

.hover {
    &:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
}

.pointer {
    cursor: pointer;
}
