<div class="card py-3 px-4 w-100">
    <div class="d-flex flex-row align-items-center mb-2">
        <img class="trophy me-1" src="assets/trophy_icon.png" />
        <p style="font-size: 20px">
            GET <span><strong>100</strong></span>
        </p>
        <img class="star ms-1" src="assets/star_icon.png" />
    </div>

    <div>
        <div
            class="d-flex flex-row align-items-center justify-content-between mb-2"
        >
            <h4>Title</h4>
            <p>18 Mar, 2023 14:42 P.M</p>
        </div>

        <div class="mb-2">
            <p>
                Proposed by:
                <span class="text-primary"><i>FirstEmployee</i></span>
            </p>
        </div>

        <div>
            <p>
                This is some test description in order to see how some text
                would apply on this card
            </p>
        </div>
    </div>
</div>
