<div class="d-flex flex-column justify-content-center align-items-center">
    <div>
        <img src="../../../assets/avatar_profile_icon.png" />
    </div>

    <div class="my-3">
        <h4>Username</h4>
    </div>
    <div class="card w-100">
        <ul class="list-group list-group-flush">
            <li
                class="list-group-item d-flex justify-content-center align-items-center flex-wrap"
            >
                <h6 class="my-1">My Quests</h6>
            </li>

            <li
                class="list-group-item d-flex justify-content-center align-items-center flex-wrap"
            >
                <h6 class="my-1">Accepted Quests</h6>
            </li>

            <li
                class="list-group-item d-flex justify-content-center align-items-center flex-wrap"
            >
                <h6 (click)="logOut()" class="my-1">Log Out</h6>
            </li>
        </ul>
    </div>
</div>
