<div
    *ngIf="currentUser$ | async as currentUser"
    class="d-flex flex-column justify-content-center align-items-center"
>
    <div>
        <img src="../../../assets/avatar_profile_icon.png" />
    </div>

    <div class="my-3">
        <h4>{{ currentUser.userName }}</h4>
    </div>
    <div class="card w-100">
        <ul class="list-group list-group-flush">
            <li
                class="list-group-item d-flex justify-content-center align-items-center flex-wrap"
            >
                <h6
                    class="my-1"
                    routerLink="proposed-quests"
                    routerLinkActive="text-primary"
                >
                    My Quests
                </h6>
            </li>

            <li
                class="list-group-item d-flex justify-content-center align-items-center flex-wrap"
            >
                <h6
                    class="my-1"
                    routerLink="accepted-quests"
                    routerLinkActive="text-primary"
                >
                    Accepted Quests
                </h6>
            </li>

            <li
                class="list-group-item d-flex justify-content-center align-items-center flex-wrap"
            >
                <h6
                    class="my-1"
                    routerLink="completed-quests"
                    routerLinkActive="text-primary"
                >
                    Completed Quests
                </h6>
            </li>

            <li
                class="list-group-item d-flex justify-content-center align-items-center flex-wrap"
            >
                <h6 class="my-1" routerLink="/quests/create-quest">
                    Create Quest
                </h6>
            </li>

            <li
                class="list-group-item d-flex justify-content-center align-items-center flex-wrap"
            >
                <h6 (click)="logOut()" class="my-1 text-danger">Log Out</h6>
            </li>
        </ul>
    </div>
</div>
